*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
/* Скрытие элемента */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* main container */

.content {
  width: 1140px;
  display: grid;
  grid-template-columns: 711px 1fr;
  place-items: end;
  gap: 30px;
}

/* Result video & search form section */

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield {
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  width: 225px;
  min-height: 27px;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid currentColor;
  border-top: 1px solid currentColor;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  background-color: transparent;
  border: 1px solid;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

/* Content details */

.content__details {
  font-family: Oswald, sans-serif;
  justify-self: start;
}

.title {
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
}


.button {
  color: #fff;
  background-color: transparent;
  border: #fff 1px solid;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  min-height: 34px;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  width: 100%;
  min-height: 34px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  text-transform: uppercase;
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 196px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 16.2px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__list-item {
  padding: 0 3px;
}

.content__list-item:last-child {
  margin-bottom: 30px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 5px;
}

.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__card-link {
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
